.application-wrapper {
    
}

.application-wrapper .application-item__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 48px 0;
}

    .application-item__row img {
        width: 560px;
        height: auto;
    }

    .application-item__row .item_content {
        display: flex;
        flex-direction: column;
        padding-left: 92px;
    }

    .application-item__row .item_content h2 {
        font-size: 42px;
        margin-bottom: 24px;
        cursor: pointer;
    }

    .application-item__row .item_content p {
        font-size: 16px;
        line-height: 1.7;
        color: #221e46;
        margin-bottom: 16px;
    }

    .application-item__row .item_content p a {
        color: #3c2ed2;
    }

    /* BTN */
    .item_content .application_btn {
        background-color: rgb(58,54,228);
        color: white;
        height: 52px;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
    }

    .item_content .application_btn:hover {
        opacity: 0.85;
    }

    .item_content .application_btn span {
        padding: 0 12px;
        font-size: 18px;
        font-weight: 600;
    }